body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #edaf6e;
}

header {
    background-color: #ae7a7a;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #9c3333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #333;
}

.service {
    margin-bottom: 20px;
}

.service h3 {
    color: #007bff;
}

.service p {
    color: #555;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
}

p {
    font-size: large;
}

.service {
    overflow: hidden;
}


.service img {
    float: left;
    margin-right: 10px;
}


.text {
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}